main {
    display: flex;
}

article {
    padding-bottom: 2rem;
}

label {
    margin: 5px;
}

section {
    padding: 0 1.5rem;
    max-width: 50%;
}

#resultContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: start;
}

@media screen and (max-width: 450px) {

    main {
        flex-direction: column;
    }

    section {
        max-width: 100%;
    }

}

footer {
    text-align: center;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: var(--b-bg-2);
    cursor: pointer;
    height: 1rem;
    margin-top: .5rem;
    padding: .5rem .75rem;
    border-radius: .25rem;
    border: 0;
}